div.top{
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    margin: 10px 10px 10px 10px; 
}
div.paraula{
    display: flex;
    justify-content: center;
    align-items: center;   
}
div.medio{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}
div.lletres{
    display: flex;
    justify-content: center;
    align-items: center;
}